{% extends "global/pages/base.html" %} {% block content %}
<section class="container p-3" style="min-height: 83.9vh;">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-md-8">
            {% for post in post_list %}
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="{% url 'post_detail' post.slug %}"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..."></a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.created_on }}</div>
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.description }}</p>
                    <a class="btn btn-primary" href="{% url 'post_detail' post.slug %}">Read more &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
       {% include 'blog/partials/side_widgets.html' %} 
        <!-- Pagination-->
        <nav id="paginacao" class="mt-4">
            {% if is_paginated and page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation container">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %} {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </nav>
    </div>
</section>

{% endblock %}
