<!-- Footer -->
<footer id="footer" class="bg-dark text-white p-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>HeroBiz</h3>
                    <p>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Links</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 d-flex flex-column">
                <h4>Nossa Newsletter</h4>
                <p>Fique por dentro das novidades sobre direito do consumidor e receba dicas exclusivas da nossa advogada especializada. Não perca mais tempo e assine já!</p>
                <form class="align-self-md-baseline align-self-center" action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>

            </div>

        </div>
    </div>
</footer>
<div class="container-fluid p-3 text-white d-flex flex-column flex-lg-row justify-content-center text-center align-items-center bg-secondary">
    <div class="row align-items-center">
        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="copyright">
            © Copyright <strong><span>Flaviany</span></strong>. All Rights Reserved
        </div>
    </div>
</div>
