<main class="container d-flex flex-column justify-content-center align-items-center text-center">
    <section class="d-flex flex-wrap hero justify-content-center">
        <div class="col-md-8 d-flex justify-content-center">
            <img src="https://via.placeholder.com/300x300.png" class="img-fluid" alt="Right Column Image">
        </div>
        <div class="col-md-10 text-center p-3">
            <h1>Precisa de assistência jurídica especializada?</h1>
            <p>Sou advogada especializada em direito do consumidor, trabalhando para garantir seus direitos e resolver seus problemas.</p>
            <div class="d-flex">
                <button class="btn btn-primary me-3 fs">Agendar consulta</button>
                <button class="btn btn-secondary">Conheça o nosso trabalho</button>
            </div>
        </div>

    </section>
</main>
