<!-- Contact -->
<section id="how-it-works" class="container-fluid services bg-white py-5">

<div id="contact" class="container bg-light py-3">
    <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-md-10 text-center">
        <h2 class="display-4 font-weight-bold text-center my-4">Contato</h2>
        <p class="text-center w-responsive mx-auto mb-5 lead">Se você tem alguma dúvida sobre o seu caso, não hesite em entrar em contato conosco preenchendo o formulário abaixo. Estamos à disposição para esclarecer quaisquer dúvidas e responderemos o mais breve possível. Além disso, se você tiver algum comentário ou sugestão, também ficaremos felizes em ouvi-lo. Aguardamos o seu contato!</p>
        </div>
        <div class="col-lg-4"
        style="background-image: url(https://via.placeholder.com/400x300.png)" data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center justify-content-center">
          <form action="" method="post" role="form" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group my-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensagem"></textarea>
              <div class="validate"></div>
            </div>  
            <div class="text-center"><button class="btn btn-primary" type="submit">Enviar</button></div>
          </form>
        </div>
      </div>
</div>
</section>