<!-- How it Works -->
<section id="how-it-works" class="container-fluid services bg-light py-5">
    <div class="container">
        <div class="row">
            <h1 class="text-center display-4 mb-5 mt-4" data-aos="fade-up">Como funciona</h1>
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline mb-md-5" data-aos="fade-up">
                        <div href="#" class="timeline-content p-3 rounded-4">
                            <div class="timeline-icon"><i class="fa fa-1"></i></div>
                            <h3 class="title">Contato Inicial</h3>
                            <p class="description">
                                Entre em contato conosco para agendar uma reunião. Oferecemos atendimento
                                especializado, descomplicado e 100% online.
                            </p>
                        </div>
                    </div>
                    <div class="timeline  mb-md-5" data-aos="fade-up">
                        <div class="timeline-content p-3 rounded-4">
                            <div class="timeline-icon"><i class="fa fa-2"></i></div>
                            <h3 class="title">Análise do caso</h3>
                            <p class="description">
                                Faremos uma análise do seu caso e orientaremos você sobre como
                                funciona o processo, dando todo o suporte e direcionamento.
                            </p>
                        </div>
                    </div>
                    <div class="timeline  mb-md-5" data-aos="fade-up">
                        <div class="timeline-content p-3 rounded-4">
                            <div class="timeline-icon"><i class="fa fa-3"></i></div>
                            <h3 class="title">Preparo da Ação</h3>
                            <p class="description">
                                Se houver margem para uma ação na justiça, agimos para
                                garantir a solução mais rápida possível.
                            </p>
                        </div>
                    </div>
                    <div class="timeline  mb-md-5" data-aos="fade-up">
                        <div class="timeline-content p-3 rounded-4">
                            <div class="timeline-icon"><i class="fa fa-4"></i></div>
                            <h3 class="title">Mantemos você informado</h3>
                            <p class="description">
                                Matemos contato ao longo de todo o processo para que você esteja bem
                                informado sobre o andamento da ação.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>