
<section id="services" class="container py-5">
    <h1 class="text-center display-4 my-4" data-aos="fade-up">Veja como posso te ajudar</h1>
    <p class="lead text-center mb-5" data-aos="fade-up" data-aos-delay="200">Ofereço os seguintes serviços para nossos clientes:</p>
    <div class="row gx-5" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-4 mb-5 d-flex align-items-stretch">
            <div class="serviceBox pt-4 rounded-4 d-flex flex-column">
                <h3 class="title pt-3">Consultoria em direito do consumidor</h3>
                <div class="service-content justify-content-center d-flex flex-column flex-fill p-3">
                    <p class="description fs-6">Ofereço orientação jurídica e defesa de seus direitos como consumidor em diversas situações, tais como problemas com produtos e serviços, questões relacionadas à cobrança indevida e outras.</p>
                </div>
                <div class="service-icon bg-light d-flex justify-content-center align-items-center">
                    <i class="fa fa-balance-scale fs-1"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5 d-flex align-items-stretch">
            <div class="serviceBox pt-4 rounded-4 d-flex flex-column">
                <h3 class="title pt-3">Negociação com empresas</h3>
                <div class="service-content justify-content-center d-flex flex-column flex-fill p-3">
                    <div class="d-flex align-items-center">
                    <p class="description fs-6">Ajudo na negociação com empresas para solução de conflitos, visando sempre a proteção dos seus direitos como consumidor.</p>
                </div>
                </div>
                <div class="service-icon bg-light d-flex justify-content-center align-items-center">
                    <i class="fa fa-handshake fs-1"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5 d-flex align-items-stretch">
            <div class="serviceBox pt-4 rounded-4 d-flex flex-column">
                <h3 class="title pt-3">Ações judiciais</h3>
                <div class="service-content justify-content-center d-flex flex-column flex-fill p-3">
                    <p class="description fs-6">Em último caso, ofereço serviços de advocacia para representá-lo em ações judiciais envolvendo seus direitos como consumidor.</p>
                </div>
                <div class="service-icon bg-light d-flex justify-content-center align-items-center">
                    <i class="fa fa-gavel fs-1"></i>
                </div>
            </div>
        </div>
</div>
</section>