<section class="container-fluid bg-light d-flex flex-column justify-content-start align-items-center text-center p-md-5 py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="card mb-3 bg-primary text-white" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-title pt-3 ">
                        <h1 class="display-4">
                            Por que me escolher?
                        </h1>
                    </div>                      
                    <div class="card-body d-flex flex-column justify-content-start d-flex align-items-center">
                        <p class="lead">
                            Conte com a minha experiência e comprometimento para resolver o seu caso de direito do consumidor da melhor forma possível. Ofereço atendimento personalizado e soluções eficazes para proteger os seus direitos.                        </p>
                    </div>
                    <div class="d-flex justify-content-center pb-3">
                        <button class="btn btn-secondary fs">Agendar consulta</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="card mb-3" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-title pt-3 ">
                                <h1 class="title">
                                    Conhecimento especializado    
                                </h1>                                
                            </div>                      
                            <i class="fas fs-4 text-primary fa-graduation-cap"></i>
                            <div class="card-body d-flex flex-column justify-content-start">
                                <p class="fs-6">
                                    Nossa advogada possui amplo conhecimento em direito do consumidor, o que nos permite oferecer as melhores estratégias e soluções para proteger os seus direitos e interesses.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="card mb-3" data-aos="fade-up" data-aos-delay="300">
                            <div class="card-title pt-3 ">
                                <h1 class="title">
                                    Atendimento personalizado    
                                </h1>
                            </div>                      
                            <i class="fas fa-user fs-4 text-primary"></i> 
                            <div class="card-body d-flex flex-column justify-content-start">
                                <p class="fs-6">
                                    Oferecemos um atendimento personalizado e humanizado, com foco em entender as necessidades e expectativas de cada cliente. Nossa advogada está sempre disponível para esclarecer dúvidas e prestar um serviço de qualidade.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                        <div class="card mb-3" data-aos="fade-up" data-aos-delay="400">
                            <div class="card-title pt-3 ">
                                <h1 class="title">
                                    Resultados satisfatórios    
                                </h1>
                            </div>                      
                            <i class="fas fa-trophy fs-4 text-primary"></i>
                            <div class="card-body d-flex flex-column justify-content-start">
                                <p class="fs-6">
                                    Temos um histórico comprovado de resultados satisfatórios em casos de direito do consumidor. Nossa advogada possui habilidades técnicas e práticas para oferecer soluções eficazes e proteger os seus direitos da melhor forma possível.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>